<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No hay página</title>
    <style>
        .rounded-img {
            border-radius: 15px; 
            width: 80%; 
            height: auto;
        }
        .image-container {
            margin-left: -25px; 
            margin-right: -25px; 
        }
    </style>
</head>
<body>
    {% extends "AppLitobar/daddy.html" %}

    {% load static %}

    {% block contenidoQueCambia %} 
    <br>
    <h1 class="text-center">¿Te perdiste? 🦄</h1><br>
    
    <div class="container text-center">
        <div class="row justify-content-center">
        

    </div>
    <br>

    <p class="text-center" style="width: 70%; margin: 0 auto;">
        <strong></strong> 
        No hay páginas aún.
        <br><br>
        </div>
</div>
    {% endblock %}
    
</body>
</html>