<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    {% extends "AppLitobar/daddy.html" %}

    {% load static %}

    {% block contenidoQueCambia %} 

        <div class="d-flex justify-content-center">

            <div class="d-flex flex-column">

                <p class="fs-5 fw-bold">{{ msg_register }}</p>

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                
                    {{ form.as_p }}
                
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" style="background-color:hotpink; border-color:darkgray;">Registrarse</button>
                    </div>
                </form>

            </div>
        </div>
    {% endblock %}
</body>
</html>