<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola CocaCola</title>
</head>
<body>
        
    <h1>Hola Mundo! (Saludos desde plantillas)</h1>
    <p>Hola, esta es la segunda plantilla de Lito :) <br><br>
        (porque la primera la hice en clase jaja)
    </p>

    <p style="color:midnightblue"> Mi nombre es {{nombre}} </p>
    <p style="color:fuchsia"> Mi apellido es {{apellido}} </p>
    <p style="color:blueviolet"> Este template fue creado {{hoy}} </p>

    <br><br>
    <p><b>Este es mi ranking de belleza:</b></p>
    <p>

        {% for n in ranking %}

                {% if n < 4 %}
                    <p style="color:fuchsia"> Ranking Malo {{n}} </p>
                {% else %} <p style="color:midnightblue"> Ranking Bueno {{n}} </p>
                {% endif %}
        
        {% endfor %}

</body>
</html>